/* Scaffolding */
@import url('bootstrap/normalize.css');
@import url('bootstrap/body.css');

/* Base CSS */
@import url('bootstrap/base.css');
@import url('bootstrap/code.css');
@import url('bootstrap/tables.css');

body
{
	width: 700px;
	margin: 20px auto;
	margin-bottom: 650px; /* make bottom fragment identifiers usable. */
	padding: 40px;
	border: 1px solid #CCCCCC;
}

h1
{
	border-bottom: 1px solid #049CDB; /* blue */
}

h2
{
	border-bottom: 1px solid #46A546; /* green */
}

h2, body>div>div, h3, body>div>div>div, h4, body>div>div>div>div, h5, body>div>div>div>div>div
{
	margin-left: 15px;
}
